<!DOCTYPE html>
<html lang="en">
<head>
  <title>Logout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
  #user_logo
  {

  }

  .user_botton_next
  {
    float: right;
  }

  </style>
</head>
<body>


<div class="container-fluid">
  <div class="row content">

    <div class="jumbotron">
      <div class="container">
        <br>
        <br>
        <br>
        <h2>Customer counter</h2>
        <h4>Power by DN Application</h4>
        <!-- <p>Power by DN Application</p> -->
      </div>
    </div>


    <!-- <div class="container">
        <h2 id="User_count"></h2> 
       
    </div> -->
    
    <div class="container">
    <h1 class="text muted">Please Login</h1>
    <button class="btn btn-primary btn-lg"><a style="color: #f1f1f1;" href="http://localhost:9000/" rel="noopener noreferrer">Login</a> </button>
  </div>


  </div>

  
 <!-- Footer -->
 <footer class="page-footer font-small blue">
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a>DN Application Dalinnkulu11@gmail.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  

</body>
</html>
